.ResetPassword {
    background-color: #CBCBCB;
    position: relative;
    overflow: hidden;
}

 form input:focus
{
  color: white;
}
.ResetPassword .btn {
    background-color: cadetblue;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.ResetPassword .btn:hover {
    background-color: cadetblue;
    color: white;
}

.ResetPassword .alert {
    position: absolute;
    transform: translateX(350px);
    right: 0;
}

@media screen and (max-width:550px) {
    .ResetPassword .alert {
        width: 65%;
        font-size: 12px;
    }
}

@media screen and (max-width:311px) {
    .ResetPassword .alert {
        width: 50%;
        font-size: 10px;
    }
}


@media screen and (max-width:299px) {
    .ResetPassword .alert {
        width: 60%;
        font-size: 10px;
    }
    .block h2
    {
        font-size: 23px;
    }
}